/* место для вашего кода */
body {
    background-color: #ffffff;
    margin: auto;
    min-width: 1100;
    min-height: 3028px;
}

.header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 105px;
    padding: 92px 24px 96px 24px;
}

.header_menu {
    width: 391.48px;
    height: 22px;
    /*padding: 44px 634px 39px 26.52px;*/
}

.header_links-list {
    display: grid;
    grid-template-columns: 67px 169px 129px;
    justify-items: center;
    padding-top: 44px;
    padding-bottom: 39px;
    padding-left: 26.52px;
}

.header__links-list-item {
    
}

.header__links-list-item_no-bullet {
    list-style-type: none;
}

.header_link {
    
}

.header__link_active {
    text-decoration: underline;
    list-style-type: circle;
}

.header_logo {
    width: 148px;
    height: 105px;
    padding: 5px 184px 2px 36px;
}

.header_logo-image {
    width: 129.11px;
    height: 104.65px;
    padding: 1.16px 9.86px 0.81px 9.03px;
}

.address {
    width: 240.52px;
    height: 98px;
    padding: 5px 25.48px 2px 0;
}

.header_address {
    height: 98px;
    display: grid;
    align-items: center;
}

.header_address-item {
    width: 240px;
    height: 24px;
    text-decoration: underline;
}

.header_address-item-add {
    width: 237px;
    height: 49px;
}

.cover {
    height: 757px;
    background-blend-mode: multiply;
    background-color: rgba(0, 0, 0, 0.6);
    background-image: url(../images/cover.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.cover__title {
    display: grid;
    color: #ffffff;
    width: 1000px;
    height: 355px;
    padding-top: 165px;
    padding-right: 50px;
    padding-left: 50px;
    text-align:justify;
    /*padding: 165px 50px 237px 50px;*/
}

.aligned-text {
    font-family: Raleway, sans-serif;
    font-weight: bold;
    font-size: 100px;
    text-transform: uppercase;
}

.aligned-text_center {
    text-align: center;
}

.aligned-text_right {
    text-align: right;
}

.letter-spacing-extended {
    letter-spacing: 2rem;
}

.no-letter-spacing {
    
}

.cover__description {
   display: grid;
   color: #ffffff;
   width: 637px;
   height: 28px;
   padding-top: 147px;
   padding-left: 78px;
}

.cover__description-text {
    font-family: Raleway;
    font-weight: normal;
    font-size: 22px;
    text-align: center;
    word-spacing: 15px;
    text-transform: uppercase;
}

.bet-button {
    color: #ffffff;
    border-width: 1px;
    border-color: #ffffff;
    display: grid;
    align-items: center;
    width: 256px;
    height: 51px;
    position: relative;
    bottom: 51px;
    left: 794px;
    background: transparent;
}

.bet-button-text {
    font-family: Raleway;
    font-weight: medium;
    font-size: 22px;
    text-transform: uppercase;
}

.lots {
    width: 1052px;
    height: 692px;
    padding: 230px 33px 95px 15px;
}

.lots__heading {
    color: black;
    font-family: Raleway;
    font-weight: bold;
    font-size: 40px;
    text-transform: uppercase;
    padding: 0 891px 21px 40px;
}

.lots__card-list {
    display: flex;
    justify-items: center;
    list-style-type: none;
    gap: 25px;
}

.lots__card-list-item {
    width: 334px;
    height: 563px;
    color: #ffffff;
}

.card-link {}

.card_type_film {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    background-blend-mode: multiply;
    background-color: rgba(0, 0, 0, 0.6);
    background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    background-blend-mode: multiply;
    background-color: rgba(0, 0, 0, 0.6);
    background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    background-blend-mode: multiply;
    background-color: rgba(0, 0, 0, 0.6);
    background-image: url(../images/card-lot-03.jpg);
}

.card__title {
    padding: 51px 40px 0 40px;
    font-family: Raleway;
    font-weight: bold;
    font-size: 22px;
    text-transform: uppercase;
    text-decoration: underline;
}

.card__text {
    padding: 0 40px 48px 40px;  
    font-family: Raleway;
    font-weight: normal;
    font-size: 20px;
}
.card__text1 {
    display: grid;
    align-items: end;
    padding: 0 40px 48px 40px;  
    font-family: Raleway;
    font-weight: normal;
    font-size: 20px;
}


.lots__look-more-link {
    font-family: Raleway;
    font-weight: medium;
    font-size: 20px;
    text-decoration: underline;
    padding-top: 30px;
    padding-left: 40px;
}

.about {
    width: 1052px;
    height: 595px;
    padding: 0 24px 180px 24px;
}

.about__column {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.about__logo {
    width: 240px;
    height: 240px;
    padding-top: 35px;
    padding-left: 47px;
    padding-right: 72px;
}

.about__logo-image {
    width: 148px;
    height: 114px;
    padding: 64px 45.52px 62px 46.48px;
    background-color: black;
    border-radius: 120px;
}

.about__title {
    width: 291px;
    height: 47px;
    font-family: Raleway;
    font-weight: bold;
    font-size: 40px;
    text-transform: uppercase;
    padding: 136px 402px 100px 0;
}

.about__text1 {
    height: 120px;
    font-family: Raleway;
    font-weight: medium;
    font-size: 20px;
    grid-column-start: 2;
    padding-bottom: 24px;
}

.about__text2 {
    height: 168px;
    font-family: Raleway;
    font-weight: medium;
    font-size: 20px;
    grid-column-start: 2;
}

.footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: start;
    justify-content: space-between;
    height: 98px;
    padding: 0 50px 88px 50px;
}

.footer__menu {
    display: grid;
    width: 333px;
    height: 64px;
    text-align: center;
}

.footer__menu-list {
    list-style-type: none;
}

.footer__menu-list-item {}

.footer__menu-link {}

.footer__menu-link_active {}

.footer__social-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: right;
    width: 333px;
    height: 48px;
    list-style-type: none;
}

.footer__social-list-item {
    width: 48px;
    height: 48px;
}

.footer__social-link {}

.footer__social-icon {}